{% extends 'base.html' %}
{% block title %}{{ block.super }}プロフィール更新{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-header">
              <h4><b>プロフィール更新</b></h4>
            </div>
            <div class="card-body">
              {# 画像ファイルをアップロードするためenctype="multipart/form-data"を指定#}
              <form action="{% url 'myAccount:edit_profile' %}" method="post"
                    enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p class="text-muted"><small>※ ゲストユーザーの方は登録情報の編集が制限されます</small></p>
                <button class='btn btn-success' type="submit">更新</button>
                <a href="{% url 'myAccount:email_change' %}" class="btn btn-secondary {% if user.is_guest %}disabled{% endif %}">メールアドレス変更</a>
                <a href="{% url 'myAccount:my_password_change' %}" class="btn btn-secondary {% if user.is_guest %}disabled{% endif %}">パスワード変更</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}