{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          {% if messages %}
            {% for message in messages %}
              {#              message/tagsはSettings.pyで設定している#}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
              </li>
            {% endfor %}
          {% endif %}
          <div class="card">
            <div class="card-header">
              <h4><b>{% trans "Change Password" %}</b></h4>
            </div>
            <div class="card-body">
              <p>{% trans 'Your password is now changed.' %}</p>
              <p><a href="{% url 'account_login' %}">ログインページへ</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}