{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          {% if messages %}
            {% for message in messages %}
              {#              message/tagsはSettings.pyで設定している#}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
              </li>
            {% endfor %}
          {% endif %}
          <div class="card">
            <div class="card-header">
              <h4><b>{% trans "Password Reset" %}</b></h4>
            </div>
            <div class="card-body">
              {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
              {% endif %}
              <p>{% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}