{% extends 'base.html' %}
{% block content %}
  <div class="content-wrapper">
    <div class="container-md">
      <table id='user_list' class="table table-bordered table-hover">
        <tbody>
        {# object = user #}
        {% for target_user in object_list %}
          <tr class="odd gradeX text-center">
            {# プロフィール画像列 #}
            <td class="align-middle p-1" >
              {# ユーザーがプロフィール画像を持っている場合#}
              {% if target_user.avatar %}
                <img class="img-thumbnail mx-auto d-block" src="{{ target_user.avatar.url }}"
                     id="avatar-thumbnail" alt="avatar_thumbnail" width="60px" style="border-radius: 50%;">
                {# ユーザーがプロフィール画像を持ってない場合はfont-awesomeの画像を表示#}
              {% else %}
                <i class="far fa-meh img-thumbnail mx-auto d-block" style="width: 60px;border-radius: 50%;"></i>
              {% endif %}
            </td>
            {# ユーザー名列 #}
            <td class="text-left align-middle">
              <a class="text-reset font-weight-bold"
                 href="{% url 'myAccount:user_detail' pk=target_user.pk %}">
                {% if target_user.nickname %}
                  {{ target_user.nickname }}
                {% else %}
                  {{ target_user.username|slice:':5' }}***さん(ニックネーム未設定)
                {% endif %}
              </a>
            </td>
            <td class="align-middle" >
              <p class="mb-0">
                <i class="fas fa-pen"></i>：<span class="badge badge-pill badge-success">{{ target_user.post_set.all.count }}</span>
              </p>
              <p class="mb-0">
                <i class="fas fa-camera"></i>：<span class="badge badge-pill badge-success">{{ target_user.picture_set.all.count }}</span>
              </p>
            </td>
            {# Follow/Unfollow列 #}
            <td class=" align-middle" >
              {% if target_user != user %}
                <form action="{% url 'myAccount:follow' %}" id="follow-form">
                  {% csrf_token %}
                  {# ユーザー（item）がfollowlingリストにある場合（お気に入り登録されている場合#}
                  {% if target_user in my_follows %}
                    <button id="follow" name="{{ target_user.id }}-follow-btn" type="submit"
                            class="btn btn-outline-danger btn-sm">
                      Follow中
                    </button>
                  {% else %}
                    <button id="follow" name="{{ target_user.id }}-follow-btn" type="submit"
                            class="btn btn-outline-primary btn-sm">
                      Followする
                    </button>
                  {% endif %}
                </form>
                {#                {% include 'account/follow_base.html' %}#}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <!-- ここまでが表のデータ部分の表示-->
      </table>
      <!-- ここまでがテーブル表の定義 -->
    </div>
  </div>
{% endblock %}
{% block js %}
  {% load static %}
  <script src="{% static 'base/js/csrf_token.js' %}"></script>
  <script src="{% static 'myAccount/js/ajax_follow.js' %}"></script>
{% endblock %}