{% extends 'base.html' %}
{% block title %}{{ block.super }}投稿編集{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <div class="container-md">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-header">
              <h4 class="mb-0"><b>投稿編集</b></h4>
            </div>
            <div class="card-body">
              <form class="" method="post" enctype="multipart/form-data">
                <!-- フィールド関係ないエラー -->
                {% if post_form.non_field_errors %}
                  <ul class="list-unstyled">
                    {% for error in post_form.non_field_errors %}
                      <li class="alert alert-danger">
                        {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {% if formset.non_form_errors %}
                  <ul class="list-unstyled">
                    {% for error in formset.non_form_errors %}
                      <li class="alert alert-danger">
                        {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <!-- エラーここまで -->
                {% csrf_token %}
                <!--  text部分 -->
                {% bootstrap_form post_form %}
                <!-- 以下、画像選択エリア -->
                <div id="picture-area">
                  <p class="mb-0">画像を選択してください</p>
                  <p class="text-muted"><small>
                    5枚まで選択できます。<br>
                    画像を削除したい場合は「削除ボタン」にチェックを入れてください。<br>
                    画像のサイズが大きと送信に時間がかかることがあります。</small></p>
                  {{ formset.management_form }}
                  {% for picture_form in formset %}
                    <div class="input-group pb-3" id="0-id-input-group">
                      <div class="custom-file" style="cursor: pointer;">
                        {{ picture_form.picture }}
                        {#                        <input type="file" name="{{ picture_form.prefix }}-picture" class="custom-file-input" accept="image/*"#}
                        {#                               id="id_{{ picture_form.prefix }}-picture">#}
                        <label class="custom-file-label" for="{{ picture_form.picture.id_for_label }}"
                               data-browse="参照" style="cursor: pointer">{{ picture_form.picture.label }}</label>
                      </div>
                      {#                      <div class="input-group-append">#}
                      {#                        <button type="button" class="btn btn-outline-secondary reset">取消</button>#}
                      {#                      </div>#}
                      {{ picture_form.post }}{{ picture_form.id }}
                    </div>
                    <!-- ここまで、画像選択エリア -->
                    <div class="preview-img pb-3">
                      <!-- 画像プレビューエリア -->
                      <!-- 編集の場合、あれば初期値として元の画像をプレビュー -->
                      {% if picture_form.initial %}
                        <div class="d-inline-block mr-1 mt-1">
                          <img class="img-thumbnail" src="{{ picture_form.initial.picture.url }}" title=""
                               style="height:100px;"/>
                          <div
                              class="img-path small text-muted text-center">{{ picture_form.initial.picture.name }}</div>
                        </div>
                      {% endif %}
                    </div>
                    <!-- 削除チェックボックス -->
                    <div class="form-check input-group del-checkbox pb-3">
                      {#                      {{ picture_form.DELETE.label_tag }}#}
                      {#                      {{ picture_form.DELETE }}#}
                      <input class="form-check-input del_checkbox" type="checkbox"
                             name="{{ picture_form.prefix }}-DELETE"
                             id="id_{{ picture_form.prefix }}-DELETE">
                      <label class="form-check-label" for="id_{{ picture_form.prefix }}-DELETE">削除する</label>
                    </div>
                  {% endfor %}
                </div>
                <button type="submit" name="btn-publish" class="btn btn-success btn-block">公開する</button>
                <button type="submit" name="btn-draft" class="btn btn-outline-secondary btn-block">下書き・非公開として保存</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script>
      $(function () {
          $('.del_checkbox').on('change', function () {
              var img = $(this).parent().prev().find('img');
              var imgPath = $(this).parent().prev().find('.img-path');
              if ($(this).prop('checked')) {
                  console.log(this)
                  console.log(img)
                  img.attr({'style': 'height:100px;opacity: .5;'});
                  imgPath.attr({'style': 'opacity: .5;'});
              } else {
                  img.attr({'style': 'height:100px;opacity: 1;'});
                  imgPath.attr({'style': 'opacity: 1;'});
              }
          });

          $('.custom-file-input').on('change', handleFileSelect);

          function handleFileSelect(evt) {
              console.log(this);


              var preview = $(this).closest('.input-group').next('.preview-img');

              preview.empty();// 繰り返し実行時の処理

              var file = evt.target.files[0];

              var reader = new FileReader();

              reader.onload = (function (theFile) {
                  return function (e) {
                      if (theFile.type.match('image.*')) {
                          var $html = ['<div class="d-inline-block mr-1 mt-1"><img class="img-thumbnail" src="', e.target.result, '" title="', escape(theFile.name), '" style="height:100px;" /><div class="img-path small text-muted text-center">', escape(theFile.name), '</div></div>'].join('');// 画像では画像のプレビューとファイル名の表示
                      } else {
                          var $html = ['<div class="d-inline-block mr-1"><span class="small">', escape(theFile.name), '</span></div>'].join('');//画像以外はファイル名のみの表示
                      }
                      preview.append($html);
                  };
              })(file);

              reader.readAsDataURL(file);

              $(this).next('.custom-file-label').html('1個のファイルを選択しました');
          }

          $("button[type='submit']").on('click', function () {
              $(this).css('pointer-events', 'none');
              $(this).siblings().css('pointer-events', 'none');
              $(this).prepend('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
              {#$(this).closest('form').submit();#}
          });
      });
  </script>
{% endblock %}