<div id="picture-area">
  <!-- formset.management_form -->
  <input type="hidden" name="picture_set-TOTAL_FORMS" value="3" id="id_picture_set-TOTAL_FORMS">
  <input type="hidden" name="picture_set-INITIAL_FORMS" value="3" id="id_picture_set-INITIAL_FORMS">
  <input type="hidden" name="picture_set-MIN_NUM_FORMS" value="1" id="id_picture_set-MIN_NUM_FORMS">
  <input type="hidden" name="picture_set-MAX_NUM_FORMS" value="5" id="id_picture_set-MAX_NUM_FORMS">
  <input type="hidden" name="picture_set-TOTAL_FORMS" value="3" id="id_picture_set-TOTAL_FORMS">
  <input type="hidden" name="picture_set-INITIAL_FORMS" value="3" id="id_picture_set-INITIAL_FORMS">
  <input type="hidden" name="picture_set-MIN_NUM_FORMS" value="1" id="id_picture_set-MIN_NUM_FORMS">
  <input type="hidden" name="picture_set-MAX_NUM_FORMS" value="5" id="id_picture_set-MAX_NUM_FORMS">
  <!-- ここまで -->
  <div class="form-group">
    <!-- current file path プレビューに変える -->
    <label class="sr-only" for="id_picture_set-0-picture">Picture</label>
    <br>
    現在:<a href="/media/images/pictures/ee43ce32-b1f6-424d-9eed-7277728d4b60.jpg">images/pictures/ee43ce32-b1f6-424d-9eed-7277728d4b60.jpg</a>
    <!-- ここまで -->
    <br>
    <!-- file input カスタムファイルインプットに変える -->
    変更:
    <input type="file" name="picture_set-0-picture" accept="image/*" class="form-control-file" title=""
           id="id_picture_set-0-picture">
    <!-- ここまで -->
  </div>
  <input type="hidden" name="picture_set-0-post" value="15" id="id_picture_set-0-post"> <!--postの初期値-->
  <input type="hidden" name="picture_set-0-id" value="35" id="id_picture_set-0-id"> <!--pictureの初期値-->
  <div class="form-group">
    <!-- delete checkbox 削除リンクを押すとインプットごと消えるようにする -->
    <div class="form-check">
      <input type="checkbox" name="picture_set-0-DELETE" class="form-check-input" id="id_picture_set-0-DELETE">
      <label class="form-check-label" for="id_picture_set-0-DELETE">削除</label>
    </div>
    <!-- ここまで -->
  </div>
  <div class="form-group"><label class="sr-only" for="id_picture_set-1-picture">Picture</label><br>現在: <a
      href="/media/images/pictures/73d2c98d-0c64-407e-b448-f2e468db910f.jpg">images/pictures/73d2c98d-0c64-407e-b448-f2e468db910f.jpg</a><br>
    変更:
    <input type="file" name="picture_set-1-picture" accept="image/*" class="form-control-file" title=""
           id="id_picture_set-1-picture"></div>
  <input type="hidden" name="picture_set-1-post" value="15" id="id_picture_set-1-post">
  <input type="hidden" name="picture_set-1-id" value="36" id="id_picture_set-1-id">
  <div class="form-group">
    <div class="form-check"><input type="checkbox" name="picture_set-1-DELETE" class="form-check-input"
                                   id="id_picture_set-1-DELETE"><label class="form-check-label"
                                                                       for="id_picture_set-1-DELETE">削除</label></div>
  </div>
  <div class="form-group"><label class="sr-only" for="id_picture_set-2-picture">Picture</label><br>現在: <a
      href="/media/images/pictures/1cd2dfea-1e58-4f0a-acd5-bda42723605f.jpg">images/pictures/1cd2dfea-1e58-4f0a-acd5-bda42723605f.jpg</a><br>
    変更:
    <input type="file" name="picture_set-2-picture" accept="image/*" class="form-control-file" title=""
           id="id_picture_set-2-picture"></div>
  <input type="hidden" name="picture_set-2-post" value="15" id="id_picture_set-2-post">
  <input type="hidden" name="picture_set-2-id" value="37" id="id_picture_set-2-id">
  <div class="form-group">
    <div class="form-check"><input type="checkbox" name="picture_set-2-DELETE" class="form-check-input"
                                   id="id_picture_set-2-DELETE"><label class="form-check-label"
                                                                       for="id_picture_set-2-DELETE">削除</label></div>
  </div>
</div>