{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {# bootstrapのテンプレートタグ、css, jsを読み込む #}
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  {#  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
  {#        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
  {#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />#}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" rel="stylesheet">
  <!-- bootstrap-social -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-social@5.1.1/bootstrap-social.min.css">
  {#  <link rel="stylesheet" href="{% static 'base/css/bootstrap-social.css' %}">#}
  <!-- magnific popup -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/magnific-popup.min.css">
  {#  <link rel="stylesheet" href="{% static 'myAccount/css/magnific-popup.css' %}" />#}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css">
  <!-- 以下2行,dropzone -->
  {#  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@6.0.0-beta.2/dist/basic.min.css">#}
  {#  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@6.0.0-beta.2/dist/dropzone.min.css">#}
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}">

  <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
<header class="mb-4">
  <nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
    <div class="container">
      <div>
        <a class="navbar-brand" href="{% url 'home' %}">
          <h3 class="mb-0" style="font-family: 'Pacifico', cursive;">Pictoforio</h3>
        </a>
      </div>
      {#      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">#}
      {#        <span class="navbar-toggler-icon"></span>#}
      {#      </button>#}
      <div class="d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="nav-ul navbar-nav d-flex align-items-center">
          {% if user.is_authenticated %}
            {#            {% load myAccount_tags %}#}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'board:post_list' %}" data-toggle="tooltip" data-placement="bottom"
                 title="フィード">
                <i class="fas fa-home img-fluid" style="width: 30px"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" href="{% url 'board:create' %}" data-toggle="tooltip"
                 data-placement="bottom" title="新規投稿">
                <i class="far fa-plus-square img-fluid" style="width: 30px"></i>
              </a>
            </li>
            <li class="nav-item activity-li">
              {% if activities %}
                <button id="activity-btn" class="btn nav-link text-center" data-toggle="tooltip"
                        data-placement="left" title="新着あり" style="color: #e8383d">
                  <i class="fas fa-heart img-fluid" style="width: 30px"></i>
                </button>
              {% else %}
                <button id="activity-btn" class="btn nav-link text-center" data-toggle="tooltip"
                        data-placement="left" title="アクティビティ">
                  <i class="far fa-heart img-fluid" style="width: 30px"></i>
                </button>
              {% endif %}
              <div class="activity-popup-wrapper">
                {% include 'account/activity.html' %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'myAccount:user_list' %}" data-toggle="tooltip" data-placement="bottom"
                 title="ユーザー一覧">
                <i class="fas fa-users img-fluid" style="width: 30px"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              {#            <button class="nav-link btn dropdown-toggle" type="button" id="navbarDropdownMenuLink"#}
              {#                    data-toggle="dropdown">#}
              {#              {% if target_user.avatar %}#}
              {#                <img class="rounded img-fluid"#}
              {#                     src="{{ target_user.avatar.url }}" id="avatar-image" alt="avatar_image">#}
              {#              {% else %}#}
              {#                <i class="far fa-meh rounded img-fluid" style="height: 100%"></i>#}
              {#              {% endif %}#}
              {#            </button>#}
              <a class="p-1 nav-link dropdown-toggle text-center" href="#" id="navbarDropdownMenuLink" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.avatar %}
                  <img class="img-fluid"
                       src="{{ user.avatar.url }}" id="avatar-image-nav" alt="avatar_image"
                       style="width: 30px;border-radius: 50%">
                {% else %}
                  <i class="far fa-meh rounded img-fluid" style="width: 30px;border-radius: 50%"></i>
                {% endif %}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'myAccount:user_detail' pk=user.pk %}">ユーザーページ</a>
                <a class="dropdown-item" href="{% url 'board:private_post_list' pk=user.pk %}">下書き・非公開投稿</a>
                <a class="dropdown-item" href="{% url 'board:like_post_list' %}">いいね！した投稿</a>
                <a class="dropdown-item" href="{% url 'account_logout' %}">ログアウト</a>
                <div class="dropdown-divider"></div>
                <p class="dropdown-item-text mb-0">{{ user.email }}</p>
              </div>
            </li>
            {#          {% endif %}#}
            {#        </ul>#}
            {#        <ul class="navbar-nav navbar-right">#}
            {#          {% if user.is_authenticated %}#}
            {#            <li class="nav-item">#}
            {#            </li>#}
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Sign in</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
{% if messages %}
  <ul class="list-unstyled">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% block content %}
{% endblock content %}
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
{#    <span class="text-muted">フッターのコンテンツをここに置きます。</span>#}
    <div class="d-flex align-items-center justify-content-end text-muted">
      <div class="pl-3"><a class="text-muted" href="{% url 'about_site' %}"><small>このサイトについて</small></a></div>
      <div class="pl-3"><a class="text-muted" href="{% url 'terms_of_service' %}"><small>利用規約</small></a></div>
      <div class="pl-3"><a class="text-muted" href="{% url 'privacy_policy' %}"><small>プライバシーポリシー</small></a></div>
      <div class="pl-3"><a class="text-muted" href="{% url 'contact_form' %}"><small>お問合せ</small></a></div>
    </div>
  </div>
</footer>
<!-- Optional JavaScript -->
<!-- fontawesome -->
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
<!-- croppie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
<!-- magnific-popup -->
<script src="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/jquery.magnific-popup.min.js"></script>
{#<script src="{% static 'myAccount/js/jquery.magnific-popup.min.js' %}"></script>#}
<!-- slick -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- readmore -->
<script src="{% static 'base/js/readmore.min.js' %}"></script>
<!-- masonry -->
{#  <script src="https://cdn.jsdelivr.net/npm/masonry.js@3.1.5/masonry.min.js"></script>#}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<!-- images-loaded -->
{#  <script src="https://cdn.jsdelivr.net/npm/imagesloaded@4.1.4/imagesloaded.min.js"></script>#}
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<!-- dropzone -->
{#<script src="https://cdn.jsdelivr.net/npm/dropzone@6.0.0-beta.2/dist/dropzone.min.js"></script>#}
<!-- bs-custom-file-input -->
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input@1.3.4/dist/bs-custom-file-input.min.js"></script>
<script>bsCustomFileInput.init();</script>
<script src="{% static 'base/js/csrf_token.js' %}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(function () {
        let activityBtn = $('#activity-btn');
        let speed = 200;
        let flag = true;

        activityBtn.on('click', function (event) {
            if (flag) {
                flag = false;
                let activityPopupWrapper = $(this).next('.activity-popup-wrapper');
                if (activityPopupWrapper.hasClass('is-active')) {
                    activityPopupWrapper.removeClass('is-active').fadeOut(speed);
                } else {
                    activityPopupWrapper.removeClass('is-active').fadeOut(speed);
                    activityPopupWrapper.addClass('is-active').fadeIn(speed);
                }
                setTimeout(function () {
                    flag = true;
                }, speed)
            }
            // アクティビティボタンを押した時の処理がかぶってしまうので、
            // 吹き出しとアクティビティボタン以外を押した時に処理が行われるようにする。
            $(document).on('click', function (event) {
                if (!$(event.target).closest('#activity-btn').length && !$(event.target).closest('.activity-popup-wrapper').length) {
                    console.log($(event.target).closest('.activity-popup-wrapper'));
                    $('.activity-popup-wrapper').removeClass('is-active').fadeOut(speed);
                }
            });
        });
        $(document).on('click', '#ajax-activity-watched', function () {
            $.ajax({
                type: 'POST',
                url: $(this).data('href'),
                datatype: 'json'
            }).done(function (response) {
                let activityPopupWrapper = $('.activity-popup-wrapper')
                activityPopupWrapper.empty();
                activityPopupWrapper.html(response['html']);

                {#activityPopupWrapper.addClass('is_active').fadeIn(speed);#}
            })
        });
        {#event.preventDefault();#}
        {#console.log('click');#}
        {#let activityPopupWrapper = $('.activity-popup-wrapper')#}
        {#if (activityPopupWrapper.hasClass('is_active')) {#}
        {#    console.log('is_active!');#}
        {#    // 吹き出し要素とis_activeを削除する#}
        {#    activityPopupWrapper.removeClass('is_active');#}
        {#    activityPopupWrapper.fadeOut(200);#}
        {#    activityPopupWrapper.empty();#}
        {##}
        {# } else {#}
        {#    console.log('is_not_active');#}
        {#    $.ajax({#}
        {#        type: 'GET',#}
        {#        url: $(this).data('href'),#}
        {#        datatype: 'json',#}
        {#    }).done(function (response) {#}
        {#        console.log('done!!!');#}
        {#        activityPopupWrapper.addClass('is_active');#}
        {#        // 吹き出し要素を描画する#}
        {#        activityPopupWrapper.empty();#}
        {#        activityPopupWrapper.html(response['html']);#}
        {#        activityPopupWrapper.fadeIn(200);#}
        {#    });#}
        {# }#}
        {#$(document).on('click', function (event) {#}
        {#    if (!$(event.target).closest('.activity-popup-wrapper').length) {#}
        {#        $('.activity-popup-wrapper').removeClass('is-active').fadeOut(200);#}
        {#    }#}
        {# })#}
    });
</script>
{% block js %}
{% endblock %}
{% block footer %}
{% endblock footer %}
</body>
</html>